{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Inscription{% endblock %}

{% block body %}
        <h1>Inscription</h1>



    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.company) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: "J'accepte les conditions d'utilisations"
        }) }}

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
    <p class="mt-3">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
{% endblock %}
