{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Ticket n°{{ ticket.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <div class="row mb-3">
                <div class="col-4">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_show_ticket',{id: ticket.id}) }}">
                        Retour au ticket
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-4">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_show_project',{id: ticket.project.id}) }}">
                            Voir le projet associé
                        </a>
                    </div>
                {% endif %}
                <div class="col-4">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_my_ticket') }}">
                        Retour à mes tickets
                    </a>
                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
