{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Ticket n°{{ ticket.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <div class="row mb-3">
                <div class="col-4">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_ticket') }}">
                        Voir tous les tickets
                    </a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-4">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_show_project',{id: ticket.project.id}) }}">
                            Voir le projet associé
                        </a>
                    </div>
                {% endif %}

                <div class="col-4">
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_my_ticket') }}">
                        Retour à mes tickets
                    </a>
                </div>
            </div>
            <div class="card" >
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ ticket.title }}</h5>
                        <a href="{{ path('app_edit_ticket',{id: ticket.id}) }}" class="btn btn-sm btn-secondary">Editer</a>
                    </div>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">Type : {{ ticket.type }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Projet : {{ ticket.project }}</h6>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">Date de création : {{ ticket.createdAt | date("d F Y G:i") }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Dernière modification : {{ ticket.updatedAt | date("d F Y G:i") }}</h6>
                    {% if ticket.endDate %}
                        <h6 class="card-subtitle mb-2 text-muted">Date de fin : {{ ticket.endDate | date("d/m/Y G:i:s") }}</h6>
                    {% endif %}
                    <hr>
                    <div class="row">
                        <div class="d-flex col-3 align-items-center">
                            <h6>Statut : {{ticket.currentState}}</h6>
                        </div>
                        <div class="col">
                            {% if workflow_can(ticket, 'to_do') %}
                                <button class="btn btn-sm btn-success" onclick="changerEtat('{{ path('app_ticket_transition') }}', 'to_do')">A Faire</button>
                            {% endif %}
                            {% if workflow_can(ticket, 'to_review') %}
                                <button class="btn btn-sm btn-success" onclick="changerEtat('{{ path('app_ticket_transition') }}', 'to_review')">A Vérifier</button>
                            {% endif %}
                            {% if workflow_can(ticket, 'reject') %}
                                <button class="btn btn-sm btn-danger" onclick="changerEtat('{{ path('app_ticket_transition') }}', 'reject')">Rejeter</button>
                            {% endif %}
                            {% if workflow_can(ticket, 'approve') %}
                                <button class="btn btn-sm btn-success" onclick="changerEtat('{{ path('app_ticket_transition') }}', 'approve')">Approuver</button>
                            {% endif %}
                            {% if workflow_can(ticket, 'to_be_written') %}
                                <button class="btn btn-sm btn-secondary" onclick="changerEtat('{{ path('app_ticket_transition') }}', 'to_be_written')">A rédiger</button>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <p class="card-text">{{ ticket.content | raw }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
                {{ form(form) }}
                <div class="list-group list-group-flush border-bottom scrollarea">
                    {% for comment in comments %}
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{ comment.user.firstname }} {{ comment.user.lastname }}</strong>
                                <small>{{ comment.createdAt | date("d/m/Y G:i:s") }}</small>
                            </div>
                            <div class="col-10 mb-1 small">{{ comment.content }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function changerEtat(url, transition) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    ticketId: {{ ticket.id }},
                    transition: transition,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    location.reload();
                });
        }
    </script>
{% endblock %}
