{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Nos Tarifs{% endblock %}

{% block body %}
    <div class="d-flex row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-around">
        {% for subscription in subscriptions  %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ subscription.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ subscription.price / 100 }}€<small class="text-muted fw-light">/mois</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ subscription.maxUsers }} utilisateurs</li>
                            <li>{{ subscription.maxProjects}} Projets</li>
                            <li>Gestion de ticket et de projet</li>
                            <li>Email Support</li>
                        </ul>
                        <a href="{{ path('app_cart',{id: subscription.id}) }}">
                            <button type="button" class="w-100 btn btn-lg btn-primary">Choisir</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
