<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="{{ path('app_home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <span class="fs-4">ESGI Project</span>
                </a>
                <ul class="nav nav-pills">
                    {% if app.user %}
                        <li class="nav-item"><a href="{{ path('app_ticket_add') }}" class="nav-link active" aria-current="page">Nouveau ticket</a></li>
                        <li class="nav-item"><a href="{{ path('app_my_ticket') }}" class="nav-link">Mes Tickets</a></li>
                        <li class="nav-item"><a href="{{ path('app_account') }}" class="nav-link">Mon Profil</a></li>
                        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_pricing') }}" class="nav-link">Nos Tarifs</a></li>
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Connexion</a></li>
                        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Inscription</a></li>
                    {% endif %}

                </ul>
            </header>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                Accueil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_ticket') }}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                Tous les Tickets
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_project') }}" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Tous les Projets
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-6">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-3"></div>
        </div>

        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                    <li class="nav-item"><a href="{{ path('app_pricing') }}" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
                </ul>
                <p class="text-center text-body-secondary">© 2023 ESGI Projects</p>
            </footer>
        </div>
        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
