{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Projet n°{{ project.id }}{% endblock %}

{% block body %}
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Affectation</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <th scope="row">{{ ticket.id }}</th>
                        <th scope="row"><a href="{{ path('app_show_ticket',{id: ticket.id}) }}">{{ ticket.title }}</a></th>
                        <td>{{ ticket.assignment }}</td>
                        <td>
                            {% if ticket.type == "Bug" %}
                                <div class="btn btn-danger btn-sm w-75">{{ ticket.type }}</div>
                            {% else %}
                                <div class="btn btn-info btn-sm w-75">{{ ticket.type }}</div>
                            {% endif %}
                        </td>
                        <td>{{ ticket.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
